<div class="card">
  <div class="card-header">
    Welcome to Star courses
  </div>
  <div class="card-body container">
    <div class="jumbotron">
      <p>
        Welcome to start courses, We have online courses taht suits your
        requirement and helps you learn and grow in your desired area
      </p>
      <p>To know more about available course, check the link below</p>
      <button class="btn btn-primary" (click)="redirectToCoursesPage()">
        Learn More
      </button>
    </div>
  </div>
</div>
