<form>
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input
      id="courseName"
      type="text"
      class="form-control"
      [(ngModel)]="courseName"
      name="courseName"
    />
  </div>
  <div class="form-group">
    <label for="description">Course Description</label>
    <textarea
      id="description"
      cols="30"
      rows="3"
      type="text"
      class="form-control"
      [(ngModel)]="description"
      name="description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="courseDuration">Course Duration</label>
    <input
      id="courseDuration"
      type="text"
      class="form-control"
      [(ngModel)]="courseDuration"
      name="courseDuration"
    />
  </div>
  <div class="form-group">
    <label for="price">Course Price</label>
    <input
      id="price"
      type="text"
      class="form-control"
      [(ngModel)]="price"
      name="price"
    />
  </div>
  <div class="form-group">
    <label for="author">Course Author</label>
    <input
      id="author"
      type="text"
      class="form-control"
      [(ngModel)]="author"
      name="author"
    />
  </div>
  <div class="form-group">
    <label for="courseLevel">Course Level</label>
    <!-- <input
      id="courseLevel"
      type="text"
      class="form-control"
      [(ngModel)]="courseLevel"
    /> -->
    <select
      id="courseLevel"
      class="form-control"
      (change)="handleLevelChange($event)"
      name="courseLevel"
      ><option value="1">Begginner</option
      ><option value="2">Intermidiate</option
      ><option value="3">Expert</option></select
    >
  </div>
  <div class="form-group">
    <label for="type">Course Type</label>
    <input
      id="type"
      type="text"
      class="form-control"
      [(ngModel)]="type"
      name="type"
    />
  </div>
  <button class="btn btn-primary" (submit)="addCourse($event)">
    Add Course
  </button>
</form>
